@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.strike{
    text-decoration: line-through;
}
body{
    background-color:gray;
}

hidden{
   text-decoration:white;
}
